*{
    box-sizing: border-box;
}
body{
    background-color: #EFFDF5;
}
#home{
    width: 1320px;
    height: 660px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-top: 1px solid transparent;
    font-family: sans-serif;

}
#house{
    width: 660px;
    height: 660px;
    float: right;
}
#intro{
    font-size: 48px;
    font-family: sans-serif;
    margin-left: 48px; 
    margin-top: 230px;
    color: #0E2E50;
}
#random{
  margin-left: 48px;
  color: #666565;
  margin-right: 500px;
}
#firstbtn{
    width: 180px;
    height: 55px;
    margin-top: 40px;
    margin-left: 48px;
    background-color: #00B98E;
    color: #EFFDF5;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    
}
#firstbtn:hover{
    background-color: #05c79a;
}